.github/**
.vscode/**
.vscode-test/**
test-resources/**
typings/**
src/**/*.ts
.gitignore
tsconfig.json
tslint.json
build/**
bin/EditorServices.log
bin/DebugAdapter.log
bin/*.vshost.*
.rst/**
install.Lock
*.vsix
.editorconfig
appveyor.yml
build.bat
.travis.yml
*.ps1
