.github/**
.vscode/**
.vscode-test/**
test-resources/**
typings/**
src/**/*.ts
node_modules/
**/*.map
.gitignore
tsconfig.json
tslint.json
build/**
bin/EditorServices.log
bin/DebugAdapter.log
bin/*.vshost.*
*.vsix
.editorconfig
appveyor.yml
build.bat
.travis.yml
*.ps1
.husky/
.eslintignore
esbuild.js
